# Build folders
build/
Debug/
Release/
ipch/

# Resources folder
res/
res.zip

# Application produced files
imgui.ini
log.txt

# Visual Studio Files
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.sln
*.vxproj
*.vxproj.filters
.vs/

# Testing
/testing/tests/**/
!/testing/tests/
testing/tests/tests_log.txt

# Configuration Files
CMakeCache.txt
config.hpp
CMakeSettings.json
cmake_install.cmake
**/CMakeFiles/